@use "../config/" as *;


//individual card itself
.card{
    border-radius: 8px;
    overflow: hidden;
    color: $black;
    border: 1px solid $gray;
    height: 100%;
    &:hover{
        background-color: $rikki-color-1;
        transition: 0.2s ease;
        transform: translateY(-2px);
        -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75); 
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
        .card__info__header, .card__info__description{
            color: $white;
        }
    }
    &:active{
        transform: translateY(2px);
        -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0); 
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0);
        transition: 0s linear;
    }

    &__link{
        color: $black;
    }
    &__info {
        padding: 24px 20px;
        display: flex;
        flex-direction: column;
        @include text-p-12;
        &__header {
            font-size: 16px;
            text-decoration: none;
            font-weight: 800;
        }
        &__type {
            display: flex;
            flex-flow: wrap;
            margin-bottom: 8px;
            gap: 3px;
        }
    }
    &__image{
        width: 100%;
    }
}

// listing cards and display them
.cards {
    flex-direction: column;
    gap: 20px;
    .card {
        &__info__description{
            @include font-p-16;
            margin-top: 8px;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .card {
        &__info__description{
            display: none;
        }
    }
}

@media only screen and (min-width: $laptop-regular) {
    .card {
        &__info {
            padding: 34px 30px;
        }
        &__info__header{
            font-size: 24px;
            padding: 12px 0;
        }
        &__info__description{
            font-size: 16px !important;
        }
    }
}
