@use "../config" as *;

.projects { 
    color: $rikki-color-1;
    &-filter {
        margin: 18px 0;
        ul {
            gap: 2px;
        }
        li {
            cursor: pointer;
            &:hover {
                background-color: $rikki-color-1;
                color: white;
                transition: 0.2s ease;
                transform: scale(103%);
            }
        }
    }
    .cards {
        flex-direction: column;
    }
}

@media only screen and (min-width: $mobile-regular) { 
    .projects{
        &-filter {
            ul{
                gap: 8px;
            }
            .filter-btn {
                font-size: 16px;
            }
        }
        .cards {
            gap: 30px;
        }
    }
}

//teblet breakpoint
@media only screen and (min-width: $tablet-regular) { 
    .projects{
        &-collection{
            .cards {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                .card-list-item{
                    flex-basis: 30%;
                }
            }
        }
    }
}

@media only screen and (min-width: $laptop-regular) { 
    .projects {
        &-collection {
            padding: 0 120px;
        }
    }
}

@media only screen and (min-width: $desktop-regular) { 
    .projects {
        &-collection {
            padding: 0 362px;
        }
    }
}
