@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("https://use.typekit.net/grh8kqz.css");
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url("https://use.typekit.net/grh8kqz.css");
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 100;
  font-style: italic;
}
@font-face {
  src: url("https://use.typekit.net/grh8kqz.css");
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("https://use.typekit.net/grh8kqz.css");
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("https://use.typekit.net/grh8kqz.css");
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("https://use.typekit.net/grh8kqz.css");
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 700;
  font-style: italic;
}
