/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: rolumn;
}

.grid {
  display: grid;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.container {
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  height: 50vh;
}

body {
  background-color: #FE950B;
  color: white;
  font-family: "Montserrat", sans-serif;
}

b {
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

.intro {
  flex-direction: column;
  padding: 0 30px;
}
.intro__logo {
  width: 45px;
  align-self: center;
  margin-bottom: 8px;
}
.intro__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.intro__description {
  padding: 30px 0;
  line-height: 1.2;
}

.featured {
  background-color: #FFFDFA;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 30px;
}
.featured__title {
  font-size: 18px;
  font-weight: 700;
  color: #FE950B;
  text-align: center;
  padding: 30px 0;
}

.cta {
  text-align: center;
  padding: 30px 25px;
  background-color: white;
}
.cta .btn--s {
  background-color: #FE950B;
  color: white;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
  padding: 15px 25px;
}

.projects {
  background-color: white;
  color: #FE950B;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}
.projects-intro-heading {
  font-size: 18px;
  font-weight: 700;
}
.projects-filter {
  margin: 18px 0;
}
.projects-filter ul {
  gap: 2px;
}
.projects-filter li {
  cursor: pointer;
}
.projects-filter li:hover {
  background-color: #FE950B;
  color: white;
  transition: 0.2s ease;
  transform: scale(103%);
}
.projects .cards {
  flex-direction: column;
}

.about {
  background-color: white;
  color: black;
}
.about h3 {
  font-size: 3em;
}
.about p {
  font-size: 16px;
}
.about .container {
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 992px;
  padding: 30px;
}
.about__header {
  background-color: #FE950B;
  text-align: center;
  color: white;
  background-color: #FE950B;
  padding: 3em 0;
  width: 100%;
}
.about__section {
  grid-template-columns: repeat(12, 1fr);
  margin: 3em 0px;
}
.about__section h2 {
  font-size: 70px;
  font-weight: 700;
  color: #FE950B;
  margin-bottom: 20px;
}
.about__section .about__pills {
  gap: 10px;
  flex-wrap: wrap;
}
.about__section .about__intro {
  grid-column: 7/13;
  flex-direction: column;
  justify-content: center;
}
.about__section .about__profile-picture {
  grid-column: 1/7;
}
.about__section .about__profile-picture img {
  margin: 0 auto;
  border-radius: 50%;
  padding: 24px;
}
.about__info {
  gap: 2em;
  margin-bottom: 20px;
}
.about__info p {
  margin-top: 1.5em;
}
.about__mission {
  grid-column: 1/13;
  background-color: #FE950B;
  text-align: center;
  padding: 2em 0;
  color: white;
}
.about__mission h3 {
  font-weight: 800;
}
.about__mission p {
  font-size: 24px;
}
.about__values {
  grid-column: 1/13;
  background-color: #FE950B;
  text-align: center;
  padding: 2em 0;
  color: white;
}
.about__values h3 {
  font-weight: 800;
  text-align: center;
}
.about__values p {
  font-size: 24px;
}
.about__values .authenticity, .about__values .learning, .about__values .optimism {
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.about__values .value {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__values .value img {
  height: 150px;
  margin-bottom: 10px;
}
.about__values .value-info {
  max-width: 800px;
  margin-top: 1.5em;
}
.about__story {
  grid-column: 1/13;
}
.about__story h3 {
  font-weight: 800;
  color: #FE950B;
  margin-bottom: 30px;
  text-align: center;
}
.about__story h4 {
  text-align: center;
  font-weight: 800;
  color: #FE950B;
}
.about__story p {
  margin: 1.5em 0;
}

@media (max-width: 414px) {
  .about__section {
    display: flex;
    flex-direction: column;
  }
  .about__section .about__pills {
    justify-content: center;
  }
  .about__intro {
    text-align: center;
  }
  .about__intro h2 {
    font-size: 3em;
  }
}
.hdr {
  height: 80px;
  background-color: #FE950B;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}
.hdr .logo {
  width: auto;
}
.hdr .logo img {
  width: 77px;
  height: 30px;
}
.hdr .hamburger {
  display: block;
}
.hdr .hamburger .line {
  width: 35px;
  height: 5px;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.hdr .hamburger-active .line:nth-child(1) {
  transform: translateY(10px);
}
.hdr .hamburger-active .line:nth-child(3) {
  transform: translateY(-10px);
}
.hdr .hamburger :hover {
  cursor: pointer;
}
.hdr .nav {
  position: fixed;
  display: block;
  width: 260px;
  top: -300px;
  left: 10px;
  transition: all 0.3s ease-in-out;
}
.hdr .nav-active {
  top: 80px;
  transition: all 0.3s ease-in-out;
}
.hdr .nav .nav-items {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration: none;
  text-align: right;
  padding: 0 5px;
}
.hdr .nav .nav-items li {
  border-left: none;
  border-right: none;
  padding: 20px 10px;
}
.hdr .nav .nav-items li a {
  display: block;
}
.hdr .nav .nav-items :first-child {
  border-bottom: none;
}
.hdr .nav .nav-items :nth-child(2) {
  border-bottom: none;
}
.hdr .nav .nav-items :last-child {
  border-top: none;
  border-bottom: none;
}
.hdr .nav .nav-items :nth-child(3) {
  display: none;
}
.hdr--orange {
  width: 100%;
}
.hdr--orange a {
  color: #FFFDFA;
}
.hdr--orange li:hover {
  border-bottom: 3px white solid;
}
.hdr--orange .icon {
  filter: invert(1);
}
.hdr--orange .line {
  background-color: #FFFDFA;
}
.hdr--orange .nav {
  background-color: #FE950B;
}
.hdr--orange .nav a {
  color: #FFFDFA;
}
.hdr--orange .nav li {
  border: solid #FFFDFA 1px;
}
.hdr--white {
  background-color: #FFFDFA;
}
.hdr--white a {
  color: #FE950B;
}
.hdr--white li:hover {
  border-bottom: 3px #FE950B solid;
}
.hdr--white .icon {
  filter: invert(79%) sepia(33%) saturate(7127%) hue-rotate(348deg) brightness(104%) contrast(94%);
}
.hdr--white .line {
  background-color: #FE950B;
}
.hdr--white .nav {
  background-color: #FFFDFA;
}
.hdr--white .nav li {
  border: solid #C9C9C9 1px;
}

@media (min-width: 1920px) {
  .hdr {
    padding: 0px 3.8em;
  }
  .hdr .nav-items {
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .hdr .nav-items .icon {
    height: 2.7em;
  }
  .hdr .nav-items a {
    text-decoration: none;
  }
}
.ftr {
  padding: 40px 45px;
  align-items: center;
  text-align: center;
  background-color: #FE950B;
}
.ftr-image {
  width: 72px;
  margin: 0 auto;
}
.ftr-title {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}
.ftr-info p {
  margin: 10px 0px;
}
.ftr-info .ftr-mobile {
  display: none;
}
.ftr-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8px;
}
.ftr-socials-icons {
  margin-top: 10px;
  justify-content: center;
  filter: invert(1);
  gap: 10px;
}
.ftr-socials-icons img {
  height: 20px;
}
.ftr-socials-icons li:hover {
  transform: scale(105%);
  transition: 0.3s ease;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  color: #010B13;
  border: 1px solid #C9C9C9;
  height: 100%;
}
.card:hover {
  background-color: #FE950B;
  transition: 0.2s ease;
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
.card:hover .card__info__header, .card:hover .card__info__description {
  color: #FFFDFA;
}
.card:hover .card__info__header {
  text-decoration: underline;
}
.card__link {
  color: #010B13;
}
.card__info {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
}
.card__info__header {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
}
.card__info__type {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 8px;
  gap: 3px;
}
.card__image {
  width: 100%;
}

.cards {
  flex-direction: column;
  gap: 20px;
}
.cards .card__info__description {
  display: none;
}

.btn {
  border-radius: 100px;
  padding: 3px 9px;
  color: #FE950B;
  background-color: #FFFDFA;
  cursor: pointer;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}
.btn--cta::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.3em solid #FE950B;
  border-right: 0.3em solid #FE950B;
  border-radius: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
}
.btn--orange {
  background-color: #FE950B;
  color: #FFFDFA;
}
.btn--almond {
  background-color: #FFEBC6;
  color: #010B13;
  cursor: auto;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
}
.btn--gray {
  background-color: #C9C9C9;
}
.btn--s {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
.btn--m {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  padding: 6px 11px;
}

.filter-btn {
  border: solid #C9C9C9 1px;
  background-color: #FFFDFA;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  padding: 3px 9px;
  font-size: 12px;
}
.filter-btn--active {
  background-color: #FE950B;
  font-weight: 700;
  color: #FFFDFA;
}

.project .description {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
.project-intro {
  background-color: #FFFDFA;
  color: #010B13;
  padding: 20px 30px;
}
.project-thumbnail {
  width: 100%;
  border-radius: 0;
}
.project-title {
  font-size: 24px;
  font-weight: 700;
}
.project-type {
  margin-top: 8px;
  gap: 8px;
}
.project-description {
  margin: 20px 0;
}
.project-info .heading-info {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.project-info li {
  margin-bottom: 8px;
}
.project-links {
  gap: 12px;
}
.project-links img {
  width: 40px;
  height: 40px;
}
.project-purpose {
  padding: 30px;
}
.project-purpose a {
  text-decoration: underline;
  color: #FFFDFA;
}
.project-purpose p {
  margin: 8px 0;
}
.project-process {
  background-color: #FFFDFA;
  color: #010B13;
}

.article-section {
  padding: 16px 30px;
}
.article-section-header {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  border-bottom: 1px #010B13 solid;
  border-top: 1px #010B13 solid;
}
.article-section-header button {
  width: 20px;
  height: 20px;
}
.article-section-heading {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
}
.article-section-content {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
.article-section-content a {
  text-decoration: underline;
  color: #FE950B;
}
.article-section-content ul {
  padding-left: 12px;
}
.article-section-content li {
  list-style-type: disc;
}
.article-section-content li p {
  margin: 0;
}
.article-section-content p {
  margin: 12px 0;
}
.article-section-content .caption {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  font-style: italic;
  color: #C9C9C9;
  text-align: center;
  margin-top: 5px;
}
.article-section-content .caption a {
  color: #FFEBC6;
}
.article-section-content .caption::before {
  content: "(";
}
.article-section-content .caption::after {
  content: ")";
}
.article-section-subheading {
  font-weight: 700;
  font-size: 16px;
  margin: 12px 0;
}

.projects-slider {
  background-color: #FFFDFA;
}/*# sourceMappingURL=main.css.map */