.flex {
  display: flex;
}

.grid {
  display: grid;
}

.d-none {
  display: none;
}

body {
  background-color: #FE950B;
  color: white;
  font-family: "Montserrat", sans-serif;
}

b {
  font-weight: 700;
}

p {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 60px;
  font-weight: 400;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

img {
  max-width: 100%;
  display: block;
}

.hdr {
  height: 120px;
  padding: 0px 3.8em;
  align-items: center;
}
.hdr .logo {
  height: 3em;
  width: auto;
  flex-basis: 30%;
}
.hdr .menu {
  flex-basis: 70%;
  justify-content: flex-end;
}
.hdr .nav-items {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hdr .nav-items .icon {
  height: 2.7em;
}
.hdr .nav-items a {
  text-decoration: none;
}

.hdr-index {
  width: 100%;
}
.hdr-index a {
  color: white;
}
.hdr-index li:hover {
  border-bottom: 3px white solid;
}

.icon {
  filter: invert(1);
}

.hdr-main {
  background-color: white;
}
.hdr-main a {
  color: black;
}
.hdr-main li:hover {
  border-bottom: 3px #FE950B solid;
}
.hdr-main .icon {
  filter: invert(79%) sepia(33%) saturate(7127%) hue-rotate(348deg) brightness(104%) contrast(94%);
}

.caption {
  font-style: italic;
  color: #aaaaaa;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
.caption a {
  color: #FFEBC6;
}
.caption::before {
  content: "(";
}
.caption::after {
  content: ")";
}

.card {
  border-radius: 8px;
  overflow: hidden;
  color: black;
  border: 1px solid rgb(223, 223, 223);
  height: 100%;
}
.card:hover {
  background-color: #F8951D;
  transition: 0.2s ease;
  transform: scale(101%);
  box-shadow: 1px 6px 14px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 1px 6px 14px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 6px 14px 0px rgba(0, 0, 0, 0.24);
}
.card:hover .card__info__header, .card:hover .card__info__description {
  color: white;
}
.card:hover .card__info__header {
  text-decoration: underline;
}
.card__link {
  color: black;
}
.card__info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.card__info__header {
  font-size: 36px;
  margin: 10px 0;
}
.card__info__type {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 5px;
  gap: 7px;
}
.card__image {
  width: 100%;
}

.pill {
  border-radius: 20px;
  background-color: #c9c9c9;
  padding: 8px 16px;
}
.pill--orange {
  background-color: #FE950B;
  color: white !important;
}
.pill--almond {
  background-color: #FFEBC6;
}

.btn {
  background-color: white;
  border: none;
  height: 50px;
  cursor: pointer;
}
.btn:hover {
  transform: scale(103%);
  box-shadow: -1px 5px 3px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -1px 5px 3px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -1px 5px 3px 0px rgba(0, 0, 0, 0.26);
  transition: transform ease 0.1s;
}
.btn__circle {
  display: inline-block;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
.btn__circle::after {
  content: "";
  display: inline-block;
  margin-top: 2.4em;
  margin-left: 2.1em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #FE950B;
  border-right: 0.5em solid #FE950B;
  border-radius: 5px;
  transform: rotate(45deg);
}
.btn--top {
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.btn--top::after {
  transform: rotate(-45deg);
  margin-top: 2.5em;
  margin-left: 2.3em;
}
.btn--orange {
  background-color: #FE950B;
}
.btn--orange::after {
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
}

.project {
  background-color: white;
  color: black;
}
.project a {
  text-decoration: underline;
  color: #FE950B;
  font-weight: 800;
}
.project img {
  border-radius: 8px;
}
.project li {
  line-height: 1.5;
}
.project .grid {
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}
.project__image {
  grid-column: 3/11;
  margin: 20px 0;
}
.project__type {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.project__intro {
  grid-column: 3/11;
  margin: 20px 0;
}
.project__intro h1, .project__intro p {
  margin: 20px 0;
}
.project__info {
  display: flex;
  -moz-column-gap: 2em;
       column-gap: 2em;
  grid-column: 3/11;
}
.project__tools ul, .project__languages ul, .project__process ul {
  list-style: circle;
  margin-left: 24px;
}
.project__tools li, .project__languages li, .project__process li {
  font-family: "Chivo", sans-serif;
}
.project__process {
  grid-column: 3/11;
  margin: 20px 0;
}
.project__process .box {
  margin: 20px 0;
}
.project__process .box p {
  margin-bottom: 20px;
}
.project__process .box h4 {
  margin-bottom: 16px;
}
.project__process .box h3 {
  margin: 32px 0 16px;
}
.project__process .box video {
  border-radius: 8px;
}
.project__process .cta {
  justify-content: center;
}

.projects-other {
  background-color: white;
}
.projects-other .container {
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}
.projects-other .title {
  grid-column: 3/11;
  text-align: center;
  color: black;
  text-decoration: underline;
  font-weight: 800;
}
.projects-other li {
  list-style-type: none;
}
.projects-other .cards {
  grid-column: 1/13;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.projects-other .cards .card-list-item {
  flex-basis: 30%;
}

.intro .container {
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  height: 50vh;
}
.intro .left-col {
  grid-column: 2/7;
  flex-direction: column;
  justify-content: center;
}
.intro .right-col {
  grid-column: 9/12;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
.intro .eye-icon {
  height: 120px;
}
.intro .greeting {
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 3em;
}
.intro .shapes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.intro .shapes svg:nth-child(1) {
  position: absolute;
  transform: translate(1750px, 700px);
  opacity: 0.25;
}
.intro .shapes svg:nth-child(2) {
  position: absolute;
  transform: translate(100px, 600px);
  opacity: 0.75;
}
.intro .shapes svg:nth-child(3) {
  position: absolute;
  transform: translate(1600px, 150px);
  opacity: 0.25;
}
.intro .shapes svg:nth-child(4) {
  position: absolute;
  transform: translate(-50px, 150px);
  opacity: 0.75;
}
.intro .shapes svg:nth-child(5) {
  position: absolute;
  transform: translate(900px, 600px);
}
.intro h2 {
  font-size: 24px;
}
.intro a {
  color: white;
  font-weight: 700;
}
.intro a:hover {
  text-decoration: underline;
}

.featured-works {
  max-width: 1440px;
  margin: 0 auto;
}
.featured-works .container {
  grid-template-columns: repeat(12, 1fr);
  padding: 0px 4.2em;
}
.featured-works .feature {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75px 1fr;
  border-radius: 10px;
  grid-column: 1/13;
  padding: 4em;
  background-color: white;
  gap: 20px;
}
.featured-works .section-header {
  color: #FE950B;
  font-weight: 700;
  grid-area: 1/1/2/13;
}
.featured-works .cards {
  -moz-column-gap: 1.3em;
       column-gap: 1.3em;
  grid-area: 2/1/13/13;
  grid-template-columns: repeat(12, 1fr);
}
.featured-works .cards h2 {
  font-size: 24px;
}
.featured-works .cards :nth-child(1) {
  grid-column: 1/5;
}
.featured-works .cards :nth-child(2) {
  grid-column: 5/9;
}
.featured-works .cards :nth-child(3) {
  grid-column: 9/13;
}

.ftr {
  padding: 5em 8%;
  align-items: center;
}
.ftr h2 {
  font-weight: 700;
}
.ftr .ftr-info {
  flex-basis: 80%;
  margin-left: 2.5em;
}
.ftr .ftr-info p {
  margin: 10px 0px;
}
.ftr .ftr-info .info-text {
  width: 70%;
}
.ftr .social-icons {
  display: flex;
  margin-top: 10px;
  filter: invert(1);
  gap: 10px;
}
.ftr .social-icons img {
  height: 40px;
}
.ftr .social-icons li:hover {
  transform: scale(105%);
  transition: 0.3s ease;
}
.ftr .logo {
  height: 80px;
  width: auto;
  flex-basis: 20%;
  justify-content: center;
}
.ftr .email {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.works {
  background-color: white;
  color: #FE950B;
}
.works .container {
  flex-direction: column;
  align-items: center;
}
.works .container .intro {
  text-align: center;
  color: white;
  background-color: #FE950B;
  padding: 3em 0;
  width: 100%;
}
.works .container .filter-btns {
  margin: 3em 0;
}
.works .container .filter-btns ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.works .container .filter-btns li {
  background-color: #c9c9c9;
  color: black;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
.works .container .filter-btns li.active {
  background-color: #FE950B;
  color: white;
}
.works .container .filter-btns li:hover {
  background-color: #FE950B;
  color: white;
  transition: 0.2s ease;
  transform: scale(103%);
}
.works .container .cards {
  margin: 3em 0px;
  max-width: 1200px;
}
.works .container .cards .cards-list {
  flex-flow: wrap;
  justify-content: center;
  gap: 20px;
}
.works .container .cards .card-list-item {
  flex-basis: 30%;
  max-width: 30%;
}

.about {
  background-color: white;
  color: black;
}
.about .container {
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 992px;
}
.about__header {
  background-color: #FE950B;
  text-align: center;
  color: white;
  background-color: #FE950B;
  padding: 3em 0;
  width: 100%;
}
.about__section {
  grid-template-columns: repeat(12, 1fr);
  margin: 3em 0px;
}
.about__section h2 {
  font-size: 72px;
  font-weight: 700;
  color: #FE950B;
  margin-bottom: 20px;
}
.about__section .about__pills {
  gap: 10px;
  flex-wrap: wrap;
}
.about__section .about__intro {
  grid-column: 1/7;
  flex-direction: column;
  justify-content: center;
}
.about__section .about__profile-picture {
  grid-column: 7/13;
}
.about__section .about__profile-picture img {
  height: 320px;
  margin: 0 auto;
  border-radius: 50%;
}
.about__info {
  gap: 2em;
  margin-bottom: 20px;
}
.about__info p {
  margin: 1.5em 0;
}/*# sourceMappingURL=main.css.map */