@use "../config/" as *;

.btn {
    border-radius: 100px;
    padding: 3px 9px;
    color: $rikki-color-1;
    background-color: $white;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    @include link-b-u-12;
    // Button colors
    &--orange{
        background-color: $rikki-color-1;
        color:$white;
    }
    // Used for information pills, not interactable
    &--almond {
        background-color: $rikki-color-2;
        color: $black;
        cursor: auto;
        @include text-p-12;
        text-decoration: none;
    }
    &--gray {
        background-color: $gray;
    }
    // Button size
    &--s {
        @include link-b-u-16;
        text-decoration: none;
    }
    &--m {
        @include link-b-u-16;
        text-decoration: none;
        padding: 6px 11px;
    }
    &__circle {
        display: inline-block;
        width: 6em;
        height: 6em;
        border-radius: 50%;
    }
    &--top {
        z-index: 999;
        position: fixed;
        bottom: 100px;
        right: 100px;
        display: none;
        -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75); 
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
        transform: translateY(-2px);
        img {
            margin-left: 15px;
            margin-top: 8px;
        }
        &:active{
            -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0); 
            box-shadow: 0px 5px 0px 0px rgba(0,0,0,0);
            transform: translateY(2px);
        }
    }
}

// Button CTA section in the index.php
.cta {
    text-align: center;
    padding: 30px 25px;
    background-color: $white;
    .btn--s {
        background-color: $rikki-color-1;
        color: white;
        text-align: center;
        @include link-b-u-10;
        text-decoration: none;
        padding: 15px 25px;
        display: inline-block;
        -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75); 
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
        transform: translateY(-2px);
    }
    :active {
        -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0); 
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0);
        transform: translateY(2px);
    }
    // :hover {
        
    // }
}


.filter-btn {
    border: solid $gray 1px;
    background-color: $white;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    padding: 3px 9px;
    font-size: 12px;
    &--active {
        background-color: $rikki-color-1;
        font-weight: 700;
        color: $white;
    }
}

.more-btn {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    &:before, &:after {
       content: "";
       position: absolute;
       z-index: 1;
       border-radius: 2px;
       background: $rikki-color-1;
     }  
     &:before {
       left: 52.4%;
       width: 25%;
       margin-left: -15%;
       height: 100%;
     }
     
     &:after {
       top: 50%;
       height: 25%;
       margin-top: -15%;
       width: 100%;
     }
}

@media only screen and (min-width: $mobile-regular){
    .cta {
        padding: 34px 25px;
        .btn--s {
            font-size: 14px !important;
        }
        img {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 2px;
        }
    }
    .btn {
        &--top{
            bottom: 50px;
            right: 50px;
        }
    }
}

@media only screen and (max-width: 376px){
    .cta {
        img {
            display: none;
        }
    }
}
