@use "../config/" as *;


//individual card itself
.card{
    border-radius: 8px;
    overflow: hidden;
    color: $black;
    border: 1px solid $gray;
    height: 100%;
    &:hover{
        background-color: $rikki-color-1;
        transition: 0.2s ease;
        transform: translateY(-3px);
        -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75); 
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
        .card__info__header, .card__info__description{
            color: $white;
        }
        .card__info__header {
            text-decoration: underline;
        }
    }
    &__link{
        color: $black;
    }
    &__info {
        padding: 24px 12px;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        @include text-p-12;
        &__header {
            font-size: 16px;
            text-decoration: underline;
            font-weight: 400;
        }
        &__type {
            display: flex;
            flex-flow: wrap;
            margin-bottom: 8px;
            gap: 3px;
        }
    }
    &__image{
        width: 100%;
    }
}

// listing cards and display them
.cards {
    // padding: 0 30px;
    flex-direction: column;
    gap: 20px;
    .card {
        &__info__description{
            display: none;
        }
    }
}