@use "../config/" as *;

//Footer Section
.ftr {
    padding: 40px 45px;
    align-items: center;
    text-align: center;
    background-color: $rikki-color-1;
    // bottom: 0;
    &-image {
        width: 72px;
        margin: 0 auto;
    }
    &-title {
        @include heading-b-24;
        margin: 20px 0;
    }
    &-info {
        // flex-basis: 80%;
        // margin-left: 2.5em;
        p {
            margin: 10px 0px;
        }
        // .info-text {
        //     width: 70%;
        // }
        .ftr-mobile {
            display: none;
        }
    }
    &-copyright{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 8px;
    }
    &-socials{
        &-icons {
            margin-top: 10px;
            justify-content: center;
            filter: invert(1);
            gap: 10px;
            img {
                height: 20px;
            }
            li:hover{
                transform: scale(105%);
                transition: 0.3s ease;
            }
        }
    }
    // .logo {
    //     height: 80px;
    //     width: auto;
    //     flex-basis: 20%;
    //     justify-content: center;
    // }
    // .email {
    //     color: white;
    //     font-weight: 700;
    //     text-decoration: underline;
    // }
}
@media only screen and (max-width: 767px) {
    .ftr {
        &-tablet-description{
            display: none;
        }
    }
}
@media only screen and (max-width: 1365px) {
    .ftr {
        &-desktop-description{
            display: none;
        }
    }
}

// Breakpoint for mobile
@media only screen and (min-width: $mobile-regular){
    .ftr {
        padding: 56px 58px;
        &-image {
            width: 96px;
            img {
                width: 96px;
                height: 44px;
            }
        }
        &-socials{
            &-icons{
                margin-top: 0;
                margin: 32px 0;
                gap: 12px;
                img {
                    height: 26px;
                }
            }
        }
    }
}
@media only screen and (min-width: $tablet-regular) {
    .ftr {
        &-info{
            display: grid; 
            grid-template-columns: 1.1fr 0.6fr; 
            grid-template-rows: 71px 0.6fr 0.3fr; 
            gap: 0px 0px; 
            .info-text { grid-area: 2 / 1 / 3 / 2; }
            .ftr-copyright { grid-area: 3 / 1 / 4 / 3; }
            .ftr-socials { grid-area: 2 / 2 / 3 / 3; }
            .ftr-image { grid-area: 1 / 1 / 2 / 2; }
            p{
                margin: 0px;
            }
          }
        &-image{
            width: 72px;
            height: 71px;
            img{
                width: 72px;
                height: 71px;
            }
        }
        &-title {
            margin-top: 0px;
            text-align: left;
            @include heading-b-32;
        }
        &-tablet-description{
            @include font-p-16;
            text-align: left;
        }
        &-copyright{
            text-align: right;
        }
        &-socials-icons{
            justify-content: flex-end;
        }
    }
}



@media only screen and (max-width: 1365px) {
    .ftr {
        .display-laptop{
            display: none;
        }
    }
}

@media only screen and (min-width: $laptop-regular) {
    .ftr {
        background-color: transparent;
        padding: 68px 172px;
        &-info {
            grid-template-rows: 1.6fr 0.3fr 0.1fr; 
            grid-template-columns: 0.8fr 0.6fr; 
        }
        &-image {
            display: none;
        }
        .info-text{
            grid-area: 1 / 1 / 2 / 2;
            .ftr-title {
                font-size: 64px;
            }
            .email {
                @include link-b-u-16;
                color: $white;
            }
        }
        .ftr-socials {
            grid-area: 2 / 1 / 3 / 2;
            align-self: end;
            padding: 24px 0;
            &-icons{
                justify-content: flex-start;
                margin: 0;
            }
        }
        &-logo{
            grid-area: 1 / 2 / 3/ 3;
            justify-self: end;
            align-self: center;
            img {
                height: 124px;
                width: auto;
            }
        }
        &-copyright{
            text-align: left;
            align-self: end;
        }
    }
}

@media only screen and (min-width: $desktop-regular) {
    .ftr {
        padding: 80px 188px;
        &-copyright{
            font-size: 10px;
        }
    }
}