@use "../config/" as *;

.hdr {
    top: 0;
    height: 80px;
    background-color: $rikki-color-1;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    position: fixed;
    z-index: 999;
    .logo {
        width: auto;
        img {
            width: 77px;
            height: 30px;
        }
    }
    // Hamburger styles
    .hamburger {
        display: block;
        .line {
            width: 35px;
            height: 5px;
            display: block;
            margin: 5px auto;
            border-radius: 5px;
            // Hamburger transitions
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &-active {
            .line:nth-child(1){
                -webkit-transform: translateY(10px);
                -ms-transform: translateY(10px);
                -o-transform: translateY(10px);
                transform: translateY(10px);
            }
            .line:nth-child(3){
                -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
                transform: translateY(-10px);
            }
        }
        :hover {
            cursor: pointer;
        }
    }
    .nav {
        position: fixed;
        display: block;
        width: 98%;
        top: -300px;
        left: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &-active{
            top: 80px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .nav-items {
            -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75); 
            box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            @include link-b-u-16;
            text-decoration: none;
            text-align: right;
            padding: 0 5px;
            li {
                border-left: none;
                border-right: none;
                padding: 20px 10px;
                a {
                    display: block;
                }
            }
            :first-child {
                border-bottom: none;
            }
            :nth-child(2) {
                border-bottom: none;
            }
            :last-child {
                border-top: none;
                border-bottom: none;
            }
            :nth-child(3) {
                display: none;
            }
        }
    }
    &--orange {
        width: 100%;
        a{
            color: $white;
        }
        li:hover {
            border-bottom: 3px white solid;
        }
        .icon {
            filter: invert(1);
        }
        .line {
            background-color: $white;
        }
        .nav {
            background-color: $rikki-color-1;
            a {
                color: $white;
            }
            li {
                border: solid $white 1px;
            }
        }
    }
    &--white {
        width: 100%;
        background-color: $white;
        a{
            color: $rikki-color-1;
        }
        li:hover {
            border-bottom: 3px $rikki-color-1 solid;
        }
        .icon {
            filter: invert(79%) sepia(33%) saturate(7127%) hue-rotate(348deg) brightness(104%) contrast(94%);
        }
        .line {
            background-color: $rikki-color-1;
        }
        .nav {
            background-color: $white;
            li {
                border: solid $gray 1px;
            }
        }
    }
}

@media only screen and (min-width: $mobile-regular) {
    .hdr {
        height: 100px;
        padding: 0 30px;
        .logo {
            img {
                width: 126px;
                height: 49px;
            }
        }
        .nav {
            &-active {
                top: 100px;
            }
        }
    }
}

@media only screen and (min-width: $tablet-regular){
    .hdr {
        height: 150px;
        padding: 38px 32px;
        .logo{
            img{
                width: 175px;
                height: 70px;
            }
        }
        .hamburger {
            display: block;
            .line {
                width: 40px;
                height: 7px;
                display: block;
                margin: 5px auto;
                border-radius: 5px;
                // Hamburger transitions
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            &-active {
                .line:nth-child(1){
                    -webkit-transform: translateY(12px);
                    -ms-transform: translateY(12px);
                    -o-transform: translateY(12px);
                    transform: translateY(12px);
                }
                .line:nth-child(3){
                    -webkit-transform: translateY(-12px);
                    -ms-transform: translateY(-12px);
                    -o-transform: translateY(-12px);
                    transform: translateY(-12px);
                }
            }
            :hover {
                cursor: pointer;
            }
        }
        .nav {
            &-active {
                top: 150px;
            }
        }
    }
}

@media only screen and (min-width: $laptop-regular){
    .hdr {
        position: relative;
        justify-content: space-between;
        .hamburger{
            display: none;
        }
        .nav {
            position: relative;
            display: inline-block;
            top: 0;
            background-color: transparent;
            .nav-items {
                display: flex;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
                font-size: 18px;
                font-weight: 400;
                justify-content: flex-end;
                align-items: center;
                li {
                    border-top: none;
                    img {
                        width: 25px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: relative;
                        bottom: -5px;
                        height: 5px;
                        background-color: $white;
                        width: 0;
                        transition: width 0.1s ease;
                      }
                      &:hover {
                        color: $white;
                        &:after {
                          width: 100%;
                        }
                      }
                }
                :nth-child(3){
                    display: block;
                }
            }
        }
        &--orange{
            background-color: transparent;
        }
        &--white {
            .nav{
                .nav-items{
                    li {
                        &:after {
                            content: '';
                            display: block;
                            position: relative;
                            bottom: -5px;
                            height: 5px;
                            background-color: $rikki-color-1;
                            width: 0;
                            transition: width 0.1s ease;
                          }
                        &:hover {
                        color: $rikki-color-1;
                        &:after {
                            width: 100%;
                        }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $desktop-regular){
    .hdr {
        padding: 104px 188px;
        .logo{
            img{
                width: 163px;
                height: 67px;
            }
        }
    }
}