@use "../config/" as *;


// for project page template
.project {
    .description {
        @include font-p-16;
    }
    &-intro {
        background-color: $white;
        color: $black;
        padding: 20px 30px;
    }
    &-thumbnail{
        width: 100%;
        border-radius: 0;
    }
    &-title{
        @include heading-b-24;
    }
    &-type {
        margin: 20px 0;
        gap: 8px;
        flex-wrap: wrap;
    }
    &-description {
        margin: 20px 0;
        @include font-p-16;
    }
    &-info {
        .heading-info {
            @include heading-b-18;
            margin-bottom: 8px;
        }
        li {
            margin: 16px 0;
        }  
    }
    &-links {
        gap: 12px;
        img{
            width: 40px;
            height: 40px;
        }
    }
    &-purpose{
        padding: 30px;
        a {
            text-decoration: underline;
            color: $white;
        }
        p {
            margin: 8px 0;
        }
    }
    &-process{
        background-color: $white;
        color: $black;
        padding: 12px 0;
    }
}

.article-section{
    padding: 0 30px;
    margin: 32px 0 64px 0;
    &-header {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        border-bottom: 1px $black solid;
        border-top: 1px $black solid;
        .more-btn {
           display: none
        }
    }
    &-heading {
        @include heading-b-18;
        margin: 16px 0;
    }
    &-content{
        @include font-p-16;
        line-height: 1.5;
        a {
            text-decoration: underline;
            color: $rikki-color-1
        }
        ul {
            padding-left: 12px;
        }
        li{
            list-style-type: disc;
            p{
                margin: 0;
            }
        }
        p {
            margin: 12px 0;
        }
        img {
            margin: 0 auto;
        }
        .caption {
            @include text-p-12;
            font-style: italic;
            color: $gray;
            text-align: center;
            margin-top: 5px;
            a{
                color: $rikki-color-2;
            }
            &::before{
                content: "(";
            }
            &::after{
                content: ")";
            }
        }
    }
    &-subheading {
        font-weight: 700;
        font-size: 16px;
        margin: 12px 0;
    }
    .cta {
        padding: 0px;
        margin: 24px 0 24px 0;
        img {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 2px;
        }
    }
}

@media only screen and (min-width: $mobile-regular){
    .project {
        &-info{
            display: flex;
            flex-wrap: wrap;
            &-timeline, &-tools, &-languages, &-links{
                flex-basis: 50%;
                max-width: 50%;
            }
        }
    }
}

@media only screen and (min-width: $tablet-regular) { 
    .project {
        img, video {
            border-radius: 8px;
        }
        background-color: $white;
        &-info {
            &-timeline, &-tools, &-languages, &-links{
                flex-basis: 25%;
                max-width: 25%;
            }
        }
        &-thumbnail {
            padding: 32px 32px;
        }
        &-intro {
            padding: 32px 64px;
        }
        &-title{
            @include heading-b-32;
        }
        &-purpose{
            background-color: $rikki-color-1;
            padding: 46px 64px;
        }
        &-process{
            .article-section{
                padding: 0 64px;
                &-heading {
                    @include heading-b-24;
                }
                &-subheading{
                    @include heading-b-18;
                }
            }
        }
    }
}


@media only screen and (min-width: $laptop-regular) { 
    .project {
        &-thumbnail, &-intro{
            padding: 0 252px;
        }
        &-intro {
            .project-title {
                font-size: 64px;
                margin: 30px 0;
            }
            .project-description{
                font-size: 20px;
            }
            .heading-info{
                font-size: 24px;
            }
            .description {
                font-size: 20px;
            }
        }
        &-info {
            margin-bottom: 30px;
            margin-top: 32px;
        }
        &-purpose{
            padding: 46px 252px;
        }
        &-process{
            padding: 16px 252px;
            .article-section{
                margin: 16px 0px;
                padding: 0;
                &-heading{
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                }
                .caption{
                    font-size: 18px; 
                }      
            }
        }
    }
}

@media only screen and (min-width: $desktop-regular) { 
    .project{
        &-thumbnail, &-intro{
            padding: 0 502px;
        }
        &-purpose {
            padding: 46px 502px;
            .description{
                font-size: 20px;
            }
        }
        &-process {
            padding: 16px 502px;
        }
    }
}
